%html
  
  %body
    %h3 Gmail Account Authorized:
    - if @cal && @cal["items"]
      - calendars = @user.calendar_names.to_s.split(",")
      - if @user.url_name && !@user.url_name.empty?
        %a{:href=>"/#{@user.url_name}",:target=>"_blank"}= "url/#{@user.url_name}" 
        %br
      %form{"accept-charset" => "UTF-8", :action => "/update", :method => "post"}    
        Select a Url name:
        %input{:type=>"text",:name=>"name",:value=>@user.url_name||""}
        %br
        Select the Public Calendar: 
        %select{:name => "calendar"}
          - @cal["items"].each do |cal|
            - next if cal["accessRole"]=="reader"
            - cal_id = cal["id"]
            - puts cal["id"]
            - puts @user.public_calendar
            %option{ :value =>cal_id,:selected=>cal["id"].strip==@user.public_calendar.to_s.strip}= cal["summary"]
        %br
        List of suggested locations. One per line. Use 'Other' to allow them to enter one.
        %br
        %textarea.large{:name=>'locations'}= @user.locations
        %br
        %input{:name => "btnG", :type => "submit", :value => "Update Setting"} 
      %br 
      %br
      %a{:href=>"/logout"} Logout
      %br 
      %br
      %a{:href=>"/delete"} Close Account
      %br
      %br
      - if !@user.public_calendar.to_s.empty?
        - if !@acl["items"].select{|s| s["scope"]["value"].include? "public.calendar.google.com"}.empty?
          - acl_id = @acl["items"].select{|s| s["scope"]["value"].include? "public.calendar.google.com"}[0]["id"]
          This Calendar is publicly viewable. If you are seeing details for events it is because you are logged as you.
          To make your calendar private again 
          %form{"accept-charset" => "UTF-8", :action => "/update", :method => "post"}    
            %input{:type=>"hidden",:value=>@user.public_calendar,:name=>"calendar"}
            %input{:type=>"hidden",:value=>true,:name=>"acl_update"}
            %input{:type=>"hidden",:value =>acl_id,:name=>"acl_id"}
            %input{:name => "btnG", :type => "submit", :value => "Click Here"} 
        - else 
          This Calendar is 
          %b 
            NOT
          publicly viewable. If you would like to change this 
          %form{"accept-charset" => "UTF-8", :action => "/update", :method => "post"}    
            %input{:type=>"hidden",:value=>@user.public_calendar,:name=>"calendar"}
            %input{:type=>"hidden",:value=>true,:name=>"acl_update"}
            %input{:name => "btnG", :type => "submit", :value => "Click Here"} 
        %br
        %iframe{:src=>"https://www.google.com/calendar/embed?showTitle=0&src=#{@user.public_calendar}&mode=WEEK", :style=>" border-width:0 ", :width=>"100%", :height=>"400", :scrolling=>"no", :id=>"gcal"}
    - else
      Could not load data from Google. Please refresh.
